In [3]:
import numpy as np
import pandas as pd
import scipy
from collections import OrderedDict
from sklearn import preprocessing
import joblib as jb
import random
import time

In [ ]:
#Creando los 10 features y las constantes necesarias
features=['A','B','C','D','F','G','H','I','j','k']

In [ ]:
model=jb.load('rfDefense2021.sav')
print(model)

RandomForestClassifier(max_depth=50, n_estimators=250, random_state=45)

In [ ]:
#tabla de pandas
df=pd.DataFrame(columns=features)
print(df)

Empty DataFrame
Columns: [A, B, C, D, F, G, H, I, j, k]
Index: []

In [ ]:
df

Empty DataFrame
Columns: [A, B, C, D, F, G, H, I, j, k]
Index: []

In [4]:



def generateValues(malwItems):
    a=0
    while a<malwItems:
        
        valuesToTest=np.array([])
        result=None
        for x in range(10):
            valuesToTest=np.append(valuesToTest, random.randint(-100,100))
                    
        try:
             result=model.predict(valuesToTest.reshape(1,-1))
             result=np.array2string(result)
             #print(valuesToTest.reshape(1,-1))
        except Exception as ex:
           pass 
        
        if result=="['malicious']":
            formatier=valuesToTest.reshape(1,-1)[0]
            df.loc[a]=formatier
            a=a+1
            print(result)
            print(a-1)

In [ ]:
generateValues(1500)

NameError: name 'generateValues' is not defined

In [ ]:
df

        A     B     C      D     F     G     H     I     j     k
0   -99.0 -16.0 -73.0  -84.0 -59.0 -11.0  -6.0   6.0 -41.0  23.0
1   -60.0 -35.0 -35.0  -69.0  73.0  61.0 -62.0  82.0 -44.0  59.0
2    31.0  57.0 -11.0  -44.0  11.0  44.0 -89.0  17.0   6.0  69.0
3   -59.0  -9.0 -85.0  -60.0 -28.0 -73.0 -78.0  12.0 -72.0  75.0
4   -13.0 -19.0 -50.0 -100.0 -48.0 -64.0 -54.0  58.0 -71.0   1.0
..    ...   ...   ...    ...   ...   ...   ...   ...   ...   ...
495  37.0  36.0 -25.0  -59.0 -86.0  59.0 -20.0  30.0   5.0  59.0
496 -96.0  48.0 -81.0   73.0 -54.0  24.0  44.0 -51.0  34.0  82.0
497 -83.0 -35.0 -81.0   82.0  -1.0  43.0  46.0 -22.0  50.0  88.0
498 -57.0 -13.0 -99.0  -84.0 -47.0 -15.0 -92.0  49.0 -28.0  37.0
499 -34.0  16.0  -5.0   18.0 -15.0  68.0 -61.0   1.0  41.0  27.0

[500 rows x 10 columns]

In [ ]:
df.to_csv('datasets/malicious_data_generated.csv' ,header=False,index=False)