In [72]:
import numpy as np
import pandas as pd
import scipy
from collections import OrderedDict
from sklearn import preprocessing
import joblib as jb
import random
import time
from IPython.display import clear_output

In [73]:
#Creando los 10 features y las constantes necesarias
features=['A','B','C','D','F','G','H','I','j','k']

In [74]:
model=jb.load('rfDefense2021.sav')
print(model)

RandomForestClassifier(max_depth=50, n_estimators=250, random_state=45)

In [75]:
#tabla de pandas
df=pd.DataFrame(columns=features)
print(df)

Empty DataFrame
Columns: [A, B, C, D, F, G, H, I, j, k]
Index: []

In [76]:
df

Empty DataFrame
Columns: [A, B, C, D, F, G, H, I, j, k]
Index: []

In [77]:
def generateValuesV2(malwItems):
    flag=False
    a=0
    valuesToTest=np.array([0,0,0,0,0,0,0,0,0,0])
    
    
    while a<malwItems:
        temp=np.array([])
        
        
        if flag==False:
          valuesToTest=np.array([])
          for x in range(10):
            valuesToTest=np.append(valuesToTest, random.randint(-50,50))
          a=a+valid(valuesToTest,a)
          flag=True  
        else:
          for x in range(10):
            temp=np.append(temp, random.randint(-2,-2))
          outarr=np.add(temp,valuesToTest)
          val=valid(outarr,a)
          if(val==0):
            flag=False
          a=a+val
          flag=flag+1

In [78]:
def valid(valuesToTest,a):
    result=None
    val=0
    try:
        result=model.predict(valuesToTest.reshape(1,-1))
        result=np.array2string(result)
        #print(valuesToTest.reshape(1,-1))
    except Exception as ex:
       pass 
    
    if result=="['malicious']":
        print(result)
        print(a-1)
        formatier=valuesToTest.reshape(1,-1)[0]
        df.loc[a]=formatier
        val=1
    return val

In [79]:

def generateValues(malwItems):
    
    a=0
    while a<malwItems:
        
        valuesToTest=np.array([])
        result=None
        for x in range(10):
            valuesToTest=np.append(valuesToTest, random.randint(-100,100))
                    
        try:
             result=model.predict(valuesToTest.reshape(1,-1))
             result=np.array2string(result)
             #print(valuesToTest.reshape(1,-1))
        except Exception as ex:
           pass 
        
        if result=="['malicious']":
            formatier=valuesToTest.reshape(1,-1)[0]
            df.loc[a]=formatier
            a=a+1
            print(result)
            print(a-1)

In [80]:
generateValuesV2(20)

['malicious']
-1
['malicious']
0
['malicious']
1
['malicious']
2
['malicious']
3
['malicious']
4
['malicious']
5
['malicious']
6
['malicious']
7
['malicious']
8
['malicious']
9
['malicious']
10
['malicious']
11
['malicious']
12
['malicious']
13
['malicious']
14
['malicious']
15
['malicious']
16
['malicious']
17
['malicious']
18

In [81]:
#generateValues(1500)
#clear_output(wait=True)

In [82]:
df

       A     B     C     D     F     G     H     I     j     k
0  -61.0 -60.0 -79.0  45.0  94.0  85.0 -84.0   1.0 -48.0  52.0
1  -43.0 -24.0  -2.0 -83.0 -61.0 -52.0 -85.0  80.0 -18.0  34.0
2  -43.0 -24.0  -2.0 -83.0 -61.0 -52.0 -85.0  80.0 -18.0  34.0
3  -43.0 -24.0  -2.0 -83.0 -61.0 -52.0 -85.0  80.0 -18.0  34.0
4  -43.0 -24.0  -2.0 -83.0 -61.0 -52.0 -85.0  80.0 -18.0  34.0
5  -43.0 -24.0  -2.0 -83.0 -61.0 -52.0 -85.0  80.0 -18.0  34.0
6  -43.0 -24.0  -2.0 -83.0 -61.0 -52.0 -85.0  80.0 -18.0  34.0
7  -43.0 -24.0  -2.0 -83.0 -61.0 -52.0 -85.0  80.0 -18.0  34.0
8  -43.0 -24.0  -2.0 -83.0 -61.0 -52.0 -85.0  80.0 -18.0  34.0
9  -43.0 -24.0  -2.0 -83.0 -61.0 -52.0 -85.0  80.0 -18.0  34.0
10 -43.0 -24.0  -2.0 -83.0 -61.0 -52.0 -85.0  80.0 -18.0  34.0
11 -43.0 -24.0  -2.0 -83.0 -61.0 -52.0 -85.0  80.0 -18.0  34.0
12 -71.0 -50.0  -6.0  -4.0  -6.0  19.0 -54.0   6.0 -55.0  26.0
13 -73.0 -52.0  -8.0  -6.0  -8.0  17.0 -56.0   4.0 -57.0  24.0
14 -73.0 -52.0  -8.0  -6.0  -8.0  17.0 -56.0   4.0 -57.0  24.0
15 -73.0 -52.0  -8.0  -6.0  -8.0  17.0 -56.0   4.0 -57.0  24.0
16 -73.0 -52.0  -8.0  -6.0  -8.0  17.0 -56.0   4.0 -57.0  24.0
17 -73.0 -52.0  -8.0  -6.0  -8.0  17.0 -56.0   4.0 -57.0  24.0
18 -73.0 -52.0  -8.0  -6.0  -8.0  17.0 -56.0   4.0 -57.0  24.0
19 -73.0 -52.0  -8.0  -6.0  -8.0  17.0 -56.0   4.0 -57.0  24.0

In [83]:
df.to_csv('datasets/malicious_data_generated.csv' ,header=False,index=False)